<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
<header>
        <h1>Dinos Grocery Store</h1>
        <nav>
            <a th:href="@{/user}">Login</a>
            <a th:href="@{/register}">Registration</a>
            <a th:href="@{/guest}">Guest</a>
        </nav>
    </header>
<div sec:authorize="isAuthenticated()">
		
		User's Name: <span sec:authentication="name"></span>
		<br> 
		Roles: <span sec:authentication="principal.authorities"></span>
		<br>
		<br>		
		
		<div>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
</body>
</html>